
@{
    ViewData["Title"] = "Sifaris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="height:100px" class="alert alert-success text-center" role="alert">
        <h2 style="font-weight:800">Sifarişiniz tamamlandı</h2>
    </div>
