<!--/.Carousel Wrapper-->
<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">
        <div style="position:relative" class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">
                <h2 style="color:#fc4c4c "><span class="masha_index masha_index1" rel="1">Şirkət Haqqında</span></h2>
            </div>

        </div>

        <div class="card-title">
            <div class="amado-navbar-toggler" style="position:center">

                <img src="~/img/office-img.jpg" class="img-fluid" alt="Responsive image">
                <br />
                <h3 style="color:dimgrey">
                    Şirkətimizi təşkil edən idarə heyəti və kollektivimiz plastik pəncərə və qapı sistemləri sahəsində 10
                    ildən artıq təcrübəyə malikdir. Xüsusən də ölkəmizdə iri layihələrin icrasında iştirakımız istənilən növ işin
                    öhdəsindən gələ biləcəyimizin zəmanətdir. İstər paytaxt Bakıda, istərsə də ölkəmizin digər regionlarında plastik
                    pəncərə sistemlərində ən müasir texnologiyalardan istifadə olunmuşdur.
                    Nüməyəndəsi olduğumuz VL GROUP brendi — yüksək keyfiyyətli plastikdən pəncərə və qapı sistemlərinin işlənib
                    hazırlanması və istehsalı sahəsində dünya lideridir. VL GROUP brendi istehsalat şirkətidir.
                    Şirkətdə hal-hazırda 100-dən çox  əməkdaş çalışmaqdadır. 200-dən çox tikinti firması VL GROUP şirkətinin
                    məhsullarını alır.
                    Şirkətimiz məhsullarını istifadə etdiyi digər firmalar da öz profili üzrə tanınmış markalardır. Bu səbəbdən də,
                    məhsullarımızın hər biri uyğunluq sertifikatına malikdir və keyfiyyət standartlarına cavab verməkdədir.
                    VL- Group Şirkəti eyni zamanda Win Klaus,KömmerLing,EgePen,Veka və bir çox şirkətlərlə partnyorluq edir.
                </h3>

            </div>


        </div>



    </div>


</div>






<div   style="background-color:#ffffff" class="card-body"     >

    <div class="row post-title">

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center" >
        <h2 style="color:#ff0000 "> <span class="masha_index masha_index1" rel="1">Partnyor Şirkətlər</span></h2>
    </div>

   
    <!--Indicators-->
    <div class="carousel-inner" role="listbox">
        <ol class="carousel-indicators" style="position:center;visibility:hidden">
            <li data-target="#multi-item-example" data-slide-to="0" class="active" style="background-color:#808080"></li>
            <li data-target="#multi-item-example" data-slide-to="1" style="background-color:#808080"></li>
            <li data-target="#multi-item-example" data-slide-to="2" style="background-color:#808080"></li>
        </ol>
        <div class="controls-top" style="position:center">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"></a>
            <a class="view" href="#multi-item-example" data-slide="next">

            </a>
        </div>
        <!--/.Birinci Hisse-->
        <div class="carousel-item active">

            <div class="col-md-3">
                <div class="card mb-2">

                    <img src="~/img/partners/logo_koemmerling_ogimage.png" />
                </div>
            </div>

          

            <div class="col-md-3">
                <div class="card mb-2">
                    <img id="sertificat" src="~/img/partners/0.png">

                </div>
            </div>




            <div class="col-md-3">
                <div class="card mb-2">
                    <img id="sertificat" src="~/img/partners/output-onlinepngtools-5-1.png">
                </div>
            </div>


 


            <div class="col-md-3">
                <div class="card mb-2">
                    <img id="sertificat" src="~/img/partners/download (2).png">
                </div>
            </div>

        </div>



    

    </div>

</div>